* {
  font-family: 'Times New Roman', Times, serif;
}

#countLabel {
  display: block;
  text-align: center;
  font-size: 10em;
}

#buttonContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  font: 5em;
  background-color: pink;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: red;
  color: white;
}